.metadata
.recommenders
RemoteSystemsTempFiles

#CI
dm-terrassement-ci/node-modules
dm-terrassement-ci/dist
dm-terrassement-ci/e2e

#Eclipse
dm-terrassement-manager/.settings
dm-terrassement-manager/bin
dm-terrassement-manager/target